In [1]:
import matplotlib.pyplot as plt
import numpy as np
import csv

%matplotlib inline

In [2]:
f = open('../data/test.csv', 'r')
csv_reader = csv.DictReader(f)

In [3]:
rows = [row for row in csv_reader]
sequences = {int(row['Id']): [int(s) for s in row['Sequence'].split(',')] for row in rows}
print(len(sequences.keys()))

113845

# Plot Random Sequences

In [4]:
def strictly_increasing(A):
    return all(x < y for x, y in zip(A, A[1:]))
    
def non_decreasing(A):
    return all(x <= y for x, y in zip(A, A[1:]))
    
def strictly_decreasing(A):
    return all(x > y for x, y in zip(A, A[1:]))
    
def non_increasing(A):
    return all(x >= y for x, y in zip(A, A[1:]))

def non_monotonic(A):
    return not any([strictly_increasing(A), strictly_decreasing(A), non_increasing(A), non_decreasing(A)])

In [5]:
from functools import reduce
from operator import mul
def prod(seq):
    return reduce(mul, seq, 1)

In [6]:
import scipy.stats as st

In [7]:
def interpolate(X, Y):
    return lambda x: sum([yj*prod((x - xk)/(xj - xk) for xk in X if xk != xj) for xj,yj in zip(X,Y)])

In [57]:
def predict(sequence):
    try:
        X = np.linspace(1,len(sequence), len(sequence), dtype=np.int64)
        Y = np.array(sequence)

        trainY = Y[:-1]
        trainX = X[:-1]
        testY = Y[-1]
        testX = X[-1]
        f = interpolate(trainX, trainY)
        if (f(testX)) == testY:
            return np.int64(f(testX))
    except:    
        pass
    finally:
        return st.mode(Y).mode[0]

In [58]:
import pandas as pd

In [59]:
d = []
for i, (id, seq) in enumerate(sequences.items()):
    d.append([id, predict(seq)])
    if i > 1000:
        break
df = pd.DataFrame(d)

C:\Users\Jack\Anaconda3\lib\site-packages\scipy\stats\stats.py:257: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

In [60]:
df

         0                        1
0        1                        0
1        2                        1
2        4                        0
3        5                        1
4        6                       12
5        9                        0
6       10                        1
7       12                        0
8       14                        4
9       17                        0
10      19                        1
11      22                        1
12      25                        1
13      27  -6777866008029815635968
14      29                        9
15      30                        2
16      31                        5
17      32                   -48620
18      33                       -1
19      37                        0
20      38                      715
21      39                      123
22      42                        1
23      43                        7
24      45                        1
25      47                    12907
26      48                        0
27      50                        1
28      54                       32
29      55                        1
...    ...                      ...
972   1986                        1
973   1987                        2
974   1990                        4
975   1992                        1
976   1995                        1
977   1996                       16
978   1998                        1
979   2001                        1
980   2002                        8
981   2003                        8
982   2004                        0
983   2005                        1
984   2007                        1
985   2009   -786828198376481357824
986   2010                        1
987   2015                        1
988   2016                        1
989   2018                        0
990   2019                        0
991   2026                        1
992   2027                        6
993   2029                        2
994   2031                        1
995   2033                     1752
996   2034                        6
997   2038                        3
998   2039                        0
999   2041                        0
1000  2042                        1
1001  2045                        1

[1002 rows x 2 columns]

In [56]:
st.mode([1,2,3,4,5]).mode[0]

1